<div data-action="click->mobile-menu#toggleMenuDropdown" data-mobile-menu-target="menuBtn"  class="z-50 menu-btn lg:hidden">
  <div class="menu-btn__burger"></div>
</div>
<%= render 'layouts/nav/navbar/mobile_menu_side' %>