<div data-mobile-menu-target="dropdown" class="hidden absolute right-0 navbar-dropdown" id="mobile-menu">
  <ul class="flex flex-col my-2">
    <li>
      <a href="#about" class="navbar-dropdown-list-item" aria-current="page">About</a>
    </li>
    <li>
      <a href="#what-i-do" class="navbar-dropdown-list-item">Experience</a>
    </li>
    <li>
      <a href="#projects" class="navbar-dropdown-list-item">Projects</a>
    </li>
    <li>
      <a href="#contact" class="navbar-dropdown-list-item">Contact</a>
    </li>
  </ul>
</div>