<footer class="flex flex-col items-center w-full h-20">
  <div class="text-sm text-center">
    <%= link_to 'https://github.com/RyanJWolfe/portfolio', target: '_blank' do %>
      <div class="flex space-x-2 muted-link text-muted/75 p-1 whitespace-nowrap">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-branch"><line x1="6" y1="3" x2="6" y2="15"></line><circle cx="18" cy="6" r="3"></circle><circle cx="6" cy="18" r="3"></circle><path d="M18 9a9 9 0 0 1-9 9"></path></svg>
        <span>Developed by Ryan Wolfe.</span>
      </div>
    <% end %>
    <div class="text-muted/75">
      <span class="text-xs md:text-sm">&copy; 2022</span>
      <span class="text-xs md:text-sm">&middot;</span>
      <span class="text-xs md:text-sm">All rights reserved</span>
    </div>
  </div>
</footer>