<div class="after:bg-purple-700 dark:after:bg-purple-400 hover-fade-in">
  <%= link_to route do %>
    <div class="flex space-x-2">
      <p class="text-purple-700 dark:text-purple-400 font-medium"><%= label %></p>
      <span class="nav-header"><%= title %></span>
    </div>
  <% end %>
</div>