<%= link_to route, class: "#{'animate-nav-link-load opacity-0' if current_page? root_path}", style: "animation-delay: calc(var(--page-transition-duration) + #{delay});" do %>
  <div class="after:bg-primary hover-underline hover:text-primary">
    <div class="flex space-x-1 items-baseline xl:text-lg">
      <code class="text-primary font-medium"><%= label %></code>
      <span class="font-poppins font-medium"><%= title %></span>
    </div>
  </div>
<% end %>
