<div class="after:bg-primary hover-fade-in">
  <%= link_to route, class: "#{'animate-nav-link-load opacity-0' if current_page? root_path}", style: "animation-delay: calc(var(--page-transition-duration) + #{delay});" do %>
    <div class="flex space-x-1 items-baseline">
      <code class="text-primary"><%= label %></code>
      <span class="font-poppins hover:text-primary"><%= title %></span>
    </div>
  <% end %>
</div>