<div class="after:bg-primary hover-fade-in">
  <%= link_to route, class: "#{'animate-nav-link-load opacity-0' if current_page? root_path}", style: "animation-delay: calc(var(--nav-load-time) + #{delay});" do %>
    <div class="flex space-x-2">
      <code class="text-primary font-medium"><%= label %></code>
      <span class="font-lora font-bold hover:text-primary"><%= title %></span>
    </div>
  <% end %>
</div>