<div class="bg-white text-gray-900 dark:bg-slate-900 dark:text-white w-full px-4 md:px-10 py-2.5">
  <div class="flex justify-between items-center mx-auto">
    <div class="flex">
      <h1>Logo</h1>
    </div>
    <div class="flex space-x-4 md:space-x-8">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#what-i-do">What I do</a>
      <a href="#contact">Contact</a>
    </div>
  </div>
</div>