<div id="navbar"
     data-nav-target="navbar"
     class="top-0 fixed bg-black text-white w-full z-10"
     style="transition: top 0.3s;">
  <a href="#about">About</a>
  <a href="#what-i-do">What I do</a>
  <a href="#contact">Contact</a>
</div>