<div class="w-full h-full justify-between items-center">
  <div>
    <%= render 'pages/sections/section_header', { label: "01", title: "About Me" } %>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-6 gap-x-10">
        <%= render 'pages/sections/about_me_picture' %>
      <div class="flex flex-col">
        <div class="flex flex-col gap-y-4 text-muted text-base text-left">
          <p>
            Hey, I'm Ryan! I'm an experienced software engineer passionate about building reliable, well-designed, and user-friendly applications.
          </p>
          <p>
            My career began in embedded programming, which gave me a strong foundation in performance and systems thinking. Over time, I transitioned into full-stack web development, building APIs, data pipelines, and user-facing products using Ruby on Rails, Python, and C#.          </p>
          <p>
            Outside of coding, I like to unwind by cooking, exploring new restaurants, or catching a round of golf on the weekend. This site is my personal space to share projects, ideas, and the occasional post about food or whatever else I find interesting.
          </p>
          <div id="contact">
            <div class="flex justify-start gap-x-6 mt-2 md:mt-4">
              <%= render 'shared/socials' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>