<div class="flex space-x-2 items-baseline w-full mb-2 md:mb-6">
  <code class="text-primary text-xl md:text-2xl lg:text-3xl font-bold"><%= label %>.</code>
  <code class="font-poppins font-bold text-2xl md:text-3xl lg:text-4xl py-2 whitespace-nowrap text-based"><%= title %></code>
  <hr class="md:hidden w-full border-t border-gray-600 self-center">
</div>