<div class="flex flex-col space-y-8">
  <div class="flex space-x-6 w-full justify-between">
    <div class="flex flex-col">
      <%= render 'portfolio/pages/section_header', { label: "01", title: "About Me"}%>
      <div class="text-gray-900 dark:text-gray-400 text-xl">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat orci nulla pellentesque dignissim enim sit amet venenatis. Cursus turpis massa tincidunt dui ut ornare lectus. Risus ultricies tristique nulla aliquet enim tortor. Laoreet sit amet cursus sit amet dictum sit amet justo. Sodales neque sodales ut etiam sit. Vulputate ut pharetra sit amet. In</p>
      </div>
    </div>
    <div>
      <%= image_tag 'doge.jpeg', class: "rounded-lg max-w-sm shadow-xl" %>
    </div>
  </div>
  <div class="parallelogram-parent">
    <div class="parallelogram-1 parallelogram border-4 dark:border-0 border-gray-400 dark:bg-gray-600 opacity-75 z-20"></div>
    <div class="parallelogram-2 parallelogram bg-fuchsia-400 dark:bg-transparent dark:border-4 dark:border-fuchsia-400 opacity-50 z-10"></div>
    <div class="parallelogram-3 parallelogram border-4 dark:border-0 border-gray-500 dark:bg-gray-800 opacity-50 z-0"></div>
  </div>
</div>