<div class="flex space-x-6 justify-between items-center">
  <div class="flex flex-col space-y-4 max-w-xl">
    <div class="flex space-x-2 items-baseline">
      <%= render 'portfolio/pages/section_header', { label: "01", title: "About Me"}%>
    </div>
    <div class="text-gray-300">
      Hello world this is some random text to simulate lorem ipsum
      More tejaldfjklajfdklajfdklajcvmadklfjdklafjdklafjdklafjdaf
      adjfkladjfklavcmxklajfdklasf
    </div>
  </div>

  <div class="">
    <i class="fab fa-wolf-pack-battalion fa-5x text-purple-400"></i>
  </div>
</div>



