<div class="hero flex flex-col space-y-2 md:space-y-8 items-center text-center w-full p-1 justify-center pb-6">
  <%= render 'portfolio/pages/section_header', { label: "04", title: "Contact Me"}%>
  <%= render 'portfolio/pages/contact/hero_cards' %>
  <%= render 'portfolio/pages/contact/contact_info' %>
  <%= render 'layouts/nav/footer' %>
</div>

