<div class="flex flex-col space-y-8 items-center text-center w-full h-full justify-center">
  <div class="flex space-x-2 items-baseline mb-12 w-full">
    <h2 class="font-bold text-5xl py-2 whitespace-nowrap text-gray-700 dark:text-gray-300">Contact me</h2>
    <hr class="w-full border-t border-gray-600 self-center">
  </div>

  <div class="grid md:grid-cols-2 gap-4 md:gap-6 p-6 tracking-wider">
    <div class="card">
      <i class="far fa-comment fa-3x"></i>
      <h3 class="text-purple-700 dark:text-purple-400 text-3xl font-bold">Get In Touch</h3>
      <p class="self-start text-gray-600 dark:text-gray-400 max-w-xl text-md w-full whitespace-prewrap">
        Have a question or want to say hello?  My inbox is always open!
      </p>
      <%= link_to 'Say Hello', '#contact', class: "self-end btn-purple-secondary"%>
    </div>
    <div class="card">
      <i class="fas fa-briefcase fa-3x"></i>
      <h3 class="text-purple-700 dark:text-purple-400 text-3xl font-bold">Straight To Business</h3>
      <p class="self-start text-gray-600 dark:text-gray-400 max-w-xl text-md w-full whitespace-prewrap">
        If you want to hire me, or want to collaborate and bring an idea to life, I would love to hear from you!
      </p>
      <%= link_to "Let's Chat", '#contact', class: "self-end btn-purple-secondary"%>
    </div>
  </div>
  <div class="absolute bottom-4">
    Built by Ryan Wolfe
  </div>
</div>
