<div class="fade-in flex flex-col space-y-6">
  <%= render 'portfolio/pages/section_header', { label: "02", title: "What I Do"}%>
  <%= render 'portfolio/pages/experience/hero_three_column' %>
</div>


