<div class="w-full">
  <%= render 'portfolio/pages/section_header', { label: "02", title: "What I Do"}%>

  <div class="bg-gray-800 p-6 flex flex-col items-center rounded-lg shadow-md">
    <i class="fas fa-pencil-ruler fa-4x text-purple-400"></i>
  </div>
</div>


