<div class="w-full flex-col space-y-6 tracking-wide">
  <%= render 'portfolio/pages/section_header', { label: "02", title: "What I Do"}%>

  <div class="bg-gray-200 dark:bg-gray-800 grid grid-cols-3 rounded-xl drop-shadow-lg border border-gray-300 dark:border-gray-900">

    <div class="grid-column">
      <%= render 'portfolio/pages/experience/architect' %>
    </div>


    <div class="grid-column border-x-2 border-gray-300 dark:border-gray-900">
      <%= render 'portfolio/pages/experience/developer' %>
    </div>

    <div class="grid-column">
      <%= render 'portfolio/pages/release_it' %>
    </div>

  </div>
</div>


