<div class="flex flex-col space-y-3 md:space-y-6 text-left w-full h-full justify-center color-transition">
  <h3 class="font-poppins font-medium text-primary text-lg md:text-xl animate-content-load opacity-0">
    Hi, my name is
  </h3>
  <h1 class="font-poppins font-bold text-4xl sm:text-5xl md:text-6xl lg:text-7xl
             text-black dark:text-white animate-content-load-long opacity-0">
    Ryan Wolfe.
  </h1>
  <h2 data-mobile-menu-target="home"
      class="font-poppins font-bold text-4xl sm:text-5xl md:text-6xl lg:text-7xl
             text-gray-600 dark:text-gray-400 animate-content-secondary-load opacity-0">
    I build things for the web.
  </h2>
  <p class="text-muted max-w-xl md:text-lg w-full whitespace-prewrap animate-content-secondary-load-long opacity-0">
    I am a Phoenix-based software engineer who enjoys solving problems as well as designing and building web applications.
    I am currently focused on building digital learning solutions at
    <%= link_to 'StrongMind', 'https://www.strongmind.com/', target: '_blank', class: "accent-text" %>.
  </p>
  <div class="flex pt-2 animate-content-tertiary-load opacity-0 relative">
    <%= link_to 'Say Hello', contact_path, class: "btn btn-primary relative md:px-7 md:py-4 md:text-xl self-start shadow-lg" %>
  </div>
</div>
