<div>
  <div class="flex flex-col space-y-4 max-w-xl">
    <%= render 'portfolio/pages/section_header', { label: "03", title: "Things I've built"}%>
    <div class="text-gray-300">
      My work
    </div>
  </div>
</div>



