<div data-mobile-menu-target="projects" class="w-full flex-col space-y-6 fade-in">
  <%= render 'portfolio/pages/section_header', { label: "03", title: "Things I've built"}%>
  <div class="text-red-400 text-4xl text-center">
    Coming soon!
  </div>
</div>



