<div class="flex space-x-2 items-baseline w-full mb-12">
  <span class="text-purple-700 dark:text-purple-400 text-4xl z-30"><%= label %></span>
  <h2 class="font-bold text-5xl py-2 whitespace-nowrap text-gray-700 dark:text-gray-300 z-30"><%= title %></h2>
  <hr class="w-full border-t border-gray-600 self-center z-20">
</div>