<div class="flex space-x-2 items-baseline w-full">
  <span class="text-purple-400 text-4xl"><%= label %></span>
  <h2 class="font-bold text-5xl py-2 whitespace-nowrap text-gray-300"><%= title %></h2>
  <hr class="w-full border-t border-gray-600 self-center">
</div>