<div class="grid grid-cols-1 lg:grid-cols-2 gap-y-4 gap-x-6 md:gap-x-10">
  <div class="flex flex-col space-y-3 max-w-sm fade-in">
    <h3 class="text-based font-semibold text-lg md:text-xl ">Languages I speak</h3>
    <div class="grid grid-cols-2 text-sm gap-x-6 gap-y-1 lg:gap-y-2">
      <p><span class="text-primary">&#62;</span> Python</p>
      <p><span class="text-primary">&#62;</span> HTML/CSS</p>
      <p><span class="text-primary">&#62;</span> Ruby</p>
      <p><span class="text-primary">&#62;</span> JavaScript</p>
      <p><span class="text-primary">&#62;</span> C#</p>
      <p><span class="text-primary">&#62;</span> C/C++</p>
    </div>
  </div>
  <div class="flex flex-col space-y-2 max-w-sm fade-in">
    <h3 class="text-based font-semibold text-lg md:text-xl whitespace-nowrap">Frameworks I've used</h3>
    <div class="grid grid-cols-2 text-sm gap-x-6 gap-y-1 lg:gap-y-2">
      <p><span class="text-primary">&#62;</span> Rails</p>
      <p><span class="text-primary">&#62;</span> Django</p>
      <p><span class="text-primary">&#62;</span> ASP.NET</p>
      <p><span class="text-primary">&#62;</span> React.js</p>
      <p><span class="text-primary">&#62;</span> Express.js</p>
      <p><span class="text-primary">&#62;</span> Hotwire</p>
    </div>
  </div>

</div>
