<div class="parallelogram-parent">
  <div class="parallelogram-1 right-8 parallelogram border-4 dark:border-0 border-gray-400 dark:bg-gray-600 opacity-75 z-20"></div>
  <div class="parallelogram-2 right-8 top-12 parallelogram bg-fuchsia-400 dark:bg-transparent dark:border-4 dark:border-fuchsia-400 opacity-50 z-10"></div>
  <div class="parallelogram-3 right-8 top-24 parallelogram border-4 dark:border-0 border-gray-500 dark:bg-gray-800 opacity-50 z-0"></div>
</div>