<div class="paper-plane">
  <div class="plane">
    <div class="wing-right"></div>
    <div class="wing-left"></div>
    <div class="bottom"></div>
    <div class="top"></div>
    <div class="middle"></div>
  </div>
  <div class="clouds">
    <div class="cloud-1"></div>
    <div class="cloud-2"></div>
    <div class="cloud-3"></div>
  </div>
</div>
