<div class="page min-h-[70vh]">
  <div>
    <h3 class="font-poppins font-bold text-5xl sm:text-7xl animate-content-load opacity-0 text-center text-based">Thank you!</h3>
    <p class="animate-content-load-long opacity-0 text-center text-muted py-5">Message
      received. If you had a question or inquiry, I will get back to you as soon as I can.</p>
  </div>
  <div class="flex justify-around space-x-12 py-5 md:py-10 animate-content-secondary-load opacity-0">
    <%= render 'shared/socials' %>
  </div>
  <div class="py-5">
    <%= link_to 'Back to Home', root_path, class: 'btn btn-primary w-full text-center animate-content-secondary-load-long opacity-0' %>
  </div>
</div>