<div class="page">
  <%= render 'pages/sections/section_header', { label: "03", title: "Contact" } %>
  <p class="text-left w-full text-muted">Have a question, business inquiry, or just want to say hello?</p>
  <p class="text-left w-full text-muted mt-1">I'd love to hear from you!</p>
  <div class="w-full mt-4 lg:mt-6">
    <%= render 'contacts/form' %>
  </div>
  <div class="flex gap-x-8 mt-6 lg:mt-10">
    <%= render 'shared/socials' %>
  </div>
</div>