<section id="home" class="section">
  <%= render 'portfolio/pages/home' %>
</section>
<section id="about" class="section">
  <%= render 'portfolio/pages/about' %>
</section>
<section id="what-i-do" class="section">
  <%= render 'portfolio/pages/experience' %>
</section>
<section id="contact" class="section">
  <h1 class="font-bold text-4xl">Contact me</h1>
</section>

