<section class="section bg-slate-500">
  <h1 class="font-bold text-4xl">Landing</h1>
</section>
<section class="section bg-red-400">
  <h1 class="font-bold text-4xl">About me</h1>
</section>
<section class="section bg-sky-500">
  <h1 class="font-bold text-4xl">What I do</h1>
</section>
<section class="section bg-emerald-500">
  <h1 class="font-bold text-4xl">Contact me</h1>
</section>

