<section id="home" class="section">
  <%= render 'portfolio/home/home' %>
</section>
<section id="about" class="section">
  <h1 class="font-bold text-4xl">About me</h1>
</section>
<section id="what-i-do" class="section">
  <h1 class="font-bold text-4xl">What I do</h1>
</section>
<section id="contact" class="section">
  <h1 class="font-bold text-4xl">Contact me</h1>
</section>

