<div class="flex flex-col space-y-6 w-full mx-auto transition-all duration-300 ease-in-out
            md:grid md:grid-cols-3 md:gap-6">
  <div class="grid-column">
    <%= render 'portfolio/pages/experience/architect' %>
  </div>

  <div class="grid-column">
    <%= render 'portfolio/pages/experience/developer' %>
  </div>

  <div class="grid-column">
    <%= render 'portfolio/pages/experience/release_it' %>
  </div>

</div>