<div class="flex flex-col w-full mx-auto transition-all duration-300 ease-in-out bg-gray-200 dark:bg-gray-800 md:grid md:grid-cols-3 rounded-lg shadow-xl border border-gray-300 dark:border-gray-900">

  <div class="grid-column border-y-2 md:border-0 border-gray-300 dark:border-gray-900">
    <%= render 'portfolio/pages/experience/architect' %>
  </div>


  <div class="grid-column border-y-2 md:border-y-0 md:border-x-2 border-gray-300 dark:border-gray-900">
    <%= render 'portfolio/pages/experience/developer' %>
  </div>

  <div class="grid-column border-y-2 md:border-0 border-gray-300 dark:border-gray-900">
    <%= render 'portfolio/pages/experience/release_it' %>
  </div>

</div>