<div class="flex flex-col items-center space-y-4 md:space-y-8 md:p-4">
  <i class="fas fa-paper-plane fa-2x md:fa-4x text-purple-700 dark:text-purple-400"></i>
  <h2 class="font-bold text-xl md:text-2xl text-black dark:text-white">Release It</h2>
  <div class="text-gray-600 dark:text-gray-400 text-md md:text-lg">
    I understand and facilitate efficient and productive software development processes.
  </div>
</div>
<div class="flex flex-col items-center space-y-3 text-md md:text-lg">
  <h3 class="text-purple-700 dark:text-purple-400">Practices I employ</h3>
  <span class="text-gray-800 dark:text-gray-200">
    <%= render "shared/text_link", { text: "Agile Fluency", route: "https://www.agilefluency.org/" } %>
    <%= render "shared/text_link", { text: "Pair Programming", route: "https://martinfowler.com/articles/on-pair-programming.html" } %>
  </span>
</div>
<div class="flex flex-col items-center space-y-3 text-md md:text-lg text-gray-800 dark:text-gray-200">
  <h3 class="text-purple-700 dark:text-purple-400">Dev Tools</h3>
  <span>JetBrains IDEs, Visual Studio Code</span>
  <span>Sentry, OpsGenie</span>
  <span>Jira, Confluence</span>
  <span>GitHub, AWS, Azure</span>
  <span>Postman</span>
  <span>Terminal</span>
  <span>Alfred (MacOs)</span>
</div>