<%= link_to blog_post_path(post.slug), class: "group" do %>
  <div class="flex flex-col sm:flex-row sm:gap-x-4 lg:text-lg">
    <div class="text-muted whitespace-nowrap"><%= post.date.strftime("%b %d, %Y") %></div>
    <h3 class="group-hover:underline group-hover:text-primary"><%= post.title %></h3>
  </div>
<% end %>
