<div id="blog-index" class="page pb-8">
  <%= render 'pages/sections/section_header', { label: "02", title: "Blog" } %>

  <div id="blog-posts">
    <%= render partial: "post", collection: @posts, as: :post %>
  </div>

</div>
