@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section {
        @apply relative container mx-auto p-4 md:p-12 lg:p-24 xl:p-36 w-full h-screen flex items-center snap-start
    }

    .nav-header {
        @apply hover:text-purple-700 hover:dark:text-purple-400 z-40
    }

    .btn-purple {
        @apply inline-flex items-center justify-center border border-purple-700 dark:border-purple-400 px-3 py-1.5 text-sm font-medium text-purple-700 dark:text-purple-400 rounded hover:dark:bg-gray-800 hover:dark:text-purple-200 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 transition-all ease-in-out duration-300
    }

    .grid-column {
        @apply flex flex-col items-center space-y-10 px-8 text-center py-6 md:py-12
    }

    .static-interactive {
        @apply dark:hover:text-purple-400 underline underline-offset-4 hover:text-purple-700
    }

    .accent-text {
        @apply text-purple-700 dark:text-purple-400 hover-underline after:bg-purple-700 dark:after:bg-purple-400
    }
}

@layer utilities {
    .hover-underline {
        display: inline-block;
        position: relative;
    }

    .hover-underline:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }

    .hover-underline:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .hover-fade-in {
        display: inline-block;
        position: relative;
        color: #0087ca;
    }

    .hover-fade-in:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: transform 0.3s ease-out;
    }

    .hover-fade-in:hover:after {
        opacity: 1;
        transform: translate3d(0, 0.2rem, 0);
    }

    .color-transition {
        transition: color .3s ease-in-out;
    }

    .btn-slide span:first-child {
        transform: translateX(-101%);
        transition: transform .3s ease-in
    }

    .btn-slide:hover span {
        transform: translateX(0)
    }
}
