@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section {
        @apply relative container mx-auto px-2 md:px-32 w-full h-screen flex items-center snap-start
    }
    .contact-section {
        @apply relative w-full h-screen flex items-center snap-start px-2 md:px-8 lg:container lg:mx-auto
    }

    .card {
        @apply bg-gray-200 dark:bg-gray-900 rounded shadow-2xl border border-gray-300 dark:border-gray-900 grid grid-rows-4 p-4 lg:p-10 max-w-lg gap-4 md:gap-6 transition-all ease-in-out duration-300
    }

    .nav-header {
        @apply hover:text-purple-700 hover:dark:text-purple-400
    }

    .btn-purple {
        @apply inline-flex items-center justify-center border border-purple-700 dark:border-purple-400 px-6 py-3 text-base font-medium text-purple-700 dark:text-purple-400 rounded hover:dark:bg-gray-800  focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 transition-all ease-in-out duration-300 tracking-wider
    }

    .btn-purple-secondary {
        @apply inline-flex items-center justify-center bg-purple-700 dark:bg-transparent border border-purple-700 dark:border-purple-400 px-5 py-2.5 text-lg font-medium text-white dark:text-purple-400 rounded hover:bg-purple-500 hover:dark:text-purple-200  hover:dark:bg-gray-800 hover:text-neutral-200 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 transition-all ease-in-out duration-300 tracking-wider
    }

    .grid-column {
        @apply flex flex-col items-center space-y-10 px-8 text-center py-6 md:py-12 transition-all duration-300 ease-in-out
    }

    .static-interactive {
        @apply dark:hover:text-purple-400 underline underline-offset-4 hover:text-purple-700
    }

    .accent-text {
        @apply text-purple-700 dark:text-purple-400 hover-underline after:bg-purple-700 dark:after:bg-purple-400
    }
}

@layer utilities {
    .hover-underline {
        display: inline-block;
        position: relative;
    }

    .hover-underline:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        transform-origin: bottom right;
        transition: transform 150ms ease-out;
    }

    .hover-underline:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .hover-fade-in {
        display: inline-block;
        position: relative;
    }
    .hover-fade-in:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        opacity: 0;
        background-color: mediumpurple;
        transition: all 300ms ease-out;
    }
    .hover-fade-in:hover:after {
        opacity: 1;
        transform: translate3d(0, 0.2rem, 0);
    }

    .color-transition {
        transition: color 300ms ease-in-out;
    }

    .btn-slide span:first-child {
        transform: translateX(-101%);
        transition: transform .3s ease-in
    }
    .btn-slide:hover span {
        transform: translateX(0)
    }
}
