.cloud-container {
    position: relative;
    overflow: hidden;
    width: calc(200px + 100vw);
    height: 100vw;
    background-color: transparent;
}
@keyframes cloud {
    from{
        left:-30%;
    }
    to{
        left: 100%;
    }
}

.cloud-1, .cloud-2, .cloud-3 {
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: rgb(var(--color-text-muted));
    border-radius:100px 100px 0 0;
}

.cloud-1 {
    top:0;
    left:0;
    animation: cloud 5s linear infinite reverse;
}

.cloud-2 {
    top:50px;
    left:100px;
    animation: cloud 4.5s linear infinite reverse;
}

.cloud-3 {
    top:150px;
    left:50px;
    animation: cloud 4.8s linear infinite reverse;
}

.cloud-1:before, .cloud-2:before, .cloud-3:before {
    content:"";
    position: absolute;
    width: 25px;
    height: 12.5px;
    background-color: rgb(var(--color-text-muted));
    border-radius:100px 100px 0 0;
    left:-20px;
    top:12.5px;
    box-shadow: 65px 0 rgb(var(--color-text-muted));
}
